{% include 'header.html' %}
<!--Formulario encargado de solicitar informacion al usuario

enviar mediante post-->
<form method="post" action="/storeEstudiante" enctype="multipart/form-data"> <!--todo lo que se escribe en el form se guarda en la ruta store-->
    Id Estudiante:
    <input type="text" name="id_estudiante" id="id_estudiante" >
    <br>

    Nombre Estudiante:
    <input type="text" name="nombre_e" id="nombre_e">
    <br>

    Edad Estudiante:
    <input type="text" name="Edadestudiante" id="Edadestudiante">
    <br>

    Grado:
    <input type="text" name="Grado" id="Grado">
    <br>

    Promedio:
    <input type="text" name="Promedio" id="Promedio">
    <br>
    <br>
    <input type="submit" value="Agregar">

</form>
{% include 'footer.html' %}